/* GLOBAL STYLES
************************************* */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #205A79;
}

footer {
  background: #205A79;
}

/* NAVIGATION STYLES
************************************* */











/* PICTURE TITLE
************************************* */




/* TILMELD DIT BARN
************************************* */
.tilmelding {

}

.tilmeld {
  background-color: #BF4C2B;
  color: white;
  border-style: none;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
}

.kontakt {
  background-color: #BF4C2B;
  color: white;
  border-style: none;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
}

.twobuttons {
  display: block;
}













/* Om skolen
************************************* */
.containeromskolen {
  width: 100%;
  display: flex;
}

.mainschool {
  display: flex;
}

.flexbox {
  margin-left: 20px;
  flex: 4;
}


.side-billede {
  margin-top: 150px;
  margin-right: 20px;
  flex: 2;
}

.flexbox p {
  margin-right: 25%;
}


.skolebillede {
   width: 400px;
   height: 250px;
}

.orangetextbox {
  margin-right: 40%;
  padding: 10px;
  color: white;
  background-color: #BF4C2B;
  text-align: center;
}

.ogp {
  margin-left: 25%;
}
